.tweet-dialog .MuiPaper-root {
    border-radius: 15px !important;
    padding: 20px !important;
    background-color: #f0f4f8 !important;
  }
  
  .tweet-dialog-title {
    font-size: 24px !important;
    font-weight: bold !important;
    color: #333 !important;
    text-align: center !important;
  }
  
  .tweet-dialog-content {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  
  .tweet-text-field .MuiInputBase-input {
    padding: 10px !important;
  }
  
  .tweet-dialog-actions {
    justify-content: center !important;
  }
  
  .tweet-button {
    color: #fff !important;
    background-color: #4CAF50 !important;
    border-radius: 20px !important;
    padding: 10px 20px !important;
    text-transform: none !important;
    font-weight: bold !important;
    margin: 5px !important;
  }
  
  .tweet-button:hover {
    background-color: #134d15 !important;
  }
  
  .tweet-button:disabled {
    background-color: #c5cae9 !important;
  }
  