body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* 背景を白に設定 */
}

.loginPage {
  display: flex;
  flex-direction: column; /* デフォルトは縦並び */
  height: 100vh;
  background-color: #ffffff; /* 全体の背景を白に設定 */
  align-items: center;
  justify-content: center;
  padding: 20px; /* スマホ用の余白を追加 */
}

.loginPage__imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* スマホ用のスペースを確保 */
}

.loginPage__image {
  max-width: 80%; /* スマホでも画面幅に収まるように調整 */
  max-height: 80%;
  margin: 0 auto; /* 画像を中央に配置 */
}

.loginForm {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  /* background-color: #f8f8f8; */
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-direction: column;
  align-items: center; /* コンテンツを中央揃えに配置 */
}

.loginForm__container {
  text-align: center;
  width: 100%;
}

.loginForm__title {
  font-size: 1.5rem; /* スマホ用の文字サイズ */
  margin-bottom: 10px;
  color: #333;
  white-space: nowrap; /* 文字を改行せず一行にする */
}

.loginForm__title span {
  color: #4CAF50; /* 緑色に変更 */
}

.loginForm__subtitle {
  font-size: 1rem; /* スマホ用の文字サイズ */
  margin-bottom: 20px;
  color: #555;
  text-align: center; /* サブタイトルを中央揃えに設定 */
}

.loginForm__button {
  background-color: #4285f4;
  color: white;
  padding: 10px 20px; /* ボタンのサイズを調整 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem; /* ボタンの文字サイズを調整 */
  display: block; /* ボタンをブロック要素に変更して中央揃え */
  margin: 0 auto; /* ボタンを中央揃え */
}

.loginForm__button:hover {
  background-color: #357ae8;
}

/* パソコン用のスタイル */
@media (min-width: 768px) {
  .loginPage {
    flex-direction: row; /* パソコンでは横並びにする */
    padding: 0; /* パソコンでは余白を取り除く */
  }

  .loginPage__imageContainer {
    flex: 2; /* 画像コンテナの比率を大きくする */
    margin: 0; /* マージンをリセット */
  }

  .loginPage__image {
    max-width: 100%; /* 画像サイズをパソコン用に調整 */
    max-height: 100%;
    margin: 0 auto; /* 中央寄せ */
  }

  .loginForm {
    flex: 1; /* フォームコンテナの比率を小さくする */
    padding-left: 50px; /* 左側に余白を追加 */
    align-items: center; /* フォーム内のコンテンツを中央揃え */
  }

  .loginForm__title {
    font-size: 2rem; /* パソコン用の文字サイズ */
    margin-left: 0; /* タイトルを中央寄せ */
    text-align: center; /* テキストを中央揃えに設定 */
  }

  .loginForm__subtitle {
    font-size: 1.2rem; /* パソコン用の文字サイズ */
    text-align: center; /* サブタイトルも中央揃えに設定 */
  }

  .loginForm__button {
    padding: 15px 30px; /* ボタンを大きくする */
    font-size: 1.2rem; /* ボタンの文字サイズを大きくする */
    margin: 20px auto 0; /* ボタンを中央に配置 */
  }
}
