/* src/components/Widget/Widgets.css */
.widgets {
  flex: 0.3;
  padding: 19px 0 19px 0; /* 左右のパディングを削除 */
  background-color: white;
  border-top: 1px solid var(--twitter-background);
  margin-right: 20px;
}

/* スマホ画面用スタイル */
@media only screen and (max-width: 600px) {
  .widgets {
      display: none;
  }
}

.widgets--input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.widgets--searchIcon {
  color: gray;
}

.widgets--input input {
  border: none;
  background: none;
  outline: none;
  padding-left: 10px;
}

.widgets--widgetContainer {
  margin-top: 15px;
}
